@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Roboto+Mono:wght@100;200;700&family=Source+Code+Pro&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
* {
    margin: 0;
    color: #132C33;
    padding: 0;
}
body{
    background-color: #D8E3E7;

}
.container {
    display: flex;
}

.sidebar {
    /* width: 250px; */
    position: absolute;
    height: 100vh;
    background-color: #126E82;
    font-family: 'Fira Sans', sans-serif;
    transition: 0.3s ease-in;
}

nav {
    padding: 30px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin: 50px 30px;
}

a {
    text-decoration: none;
    color: #D8E3E7;
}

.main {
    width: 100vw;
    height: 100vh;
    /* background-color: yellowgreen; */
}

.infoContainer {
    /* background-color: blueviolet */
    height: 65vh;
    width: 100vw;
    margin: 170px 0px 90px 0;
    display: flex;
    justify-content: space-around;
}

.devPic img {
    /* width: 82vh; */
    opacity:100%;
    margin-right: 80px;
    height: 50vh;
}

.devInfo {
    margin-left: 145px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 30px;
}

.name {
    color: #126E82;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 0px;
}

.about {
    font-size: 20px;
    margin-top: 0px;
}

.moreAbout {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
}

.btn button {
    margin-top: 30px;
    margin-right: 10px;
    padding: 10px;
    
    border: 1px solid #126E82;
    /* border: 1px solid rgb(200, 200, 200); */
    cursor: pointer;
    border-radius: 30px;
    font-size: 15.0px;
    /* color: rgb(255, 208, 0); */
    color: #D8E3E7;
    background-color: #126E82;
    font-family: 'Source Code Pro', monospace;
}

.btn button:hover {
    background-color: #D8E3E7;
    color: #126E82;
    border: 1px solid #126E82;
    transition: 0.75s;
}

.contactform {
    margin: 80px;
    font-family: 'Source Code Pro', monospace;
}

.contactform h1 {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: 20px;
    width: 361px;
    padding: 30px;
    border-radius: 18px;
    background-color: #126E82;
    align-items: center;
    box-shadow: 15px 15px 30px -10px #132C33;
}

.contactform form div {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 20vw;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    padding: 10px 5px 10px 20px;
    outline: none;
    background-color: #b7ecff;
}

label {
    /* font-family: 'Source Code Pro', monospace; */
    margin-left: 15px;
}


/* 
#clientName {
    font-family: 'Source Code Pro', monospace;
} */

#emailHelp {
    font-size: 11px;
    padding-bottom: 0%;
    margin-left: 10px;
    color: #132C33;
}

#chkbox {
    flex-direction: row;
    padding: 10px 0px 10px 10px;
    font-size: 15px;
}

#chkbox input {
    width: 17px;
    margin: 2px;
}

.btn-primary {
    width: 100px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 10px 12px;
    border: 1px solid #132C33;
    cursor: pointer;
    border-radius: 30px;
    font-size: 12px;
    color: #b7ecff;
    background-color: #132C33;
    font-family: 'Fira Sans', sans-serif;
}

.btn-primary:hover {
    background-color: #b7ecff;
    color: #132C33;
    border: 1px solid #132C33;
    transition: 0.75s;
}

.blogContainer {
    margin: 75px;
    font-family: 'Fira Sans', sans-serif;
}

.blogContainer h1 {
    margin: 28px;
}

.blogContainer .blog-cntnt {
    margin: 18px;
}

.blogContainer .blog-cntnt p {
    font-family: 'Source Code Pro', monospace;
}

.bg {
    /* background-color: rgb(230, 230, 230); */
    background-color: #126E82;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-family: 'Source Code Pro', monospace;
}

.About {
    margin: 80px;
    font-family: 'Source Code Pro', monospace;
}

.About h1 {
    padding: 18px;
}

.About p {
    padding: 10px;
}

.skillitems {
    display: flex;
    flex-direction: row;
    margin: 30px
}

.skill {
    margin-top: 3px;
    width: 650px;
    height: 15px;
    margin-left: 10px;
    background-color: #D8E3E7;
    border: 01px solid #132C33;
    border-radius: 15px;
}

h4 {
    /* text-align: right; */
    text-align: right;
    line-height: 15px;
    font-family: 'Source Code Pro', monospace;
    color: #132C33;
    font-size: 15px;
}

.S85 {
    width: 552.5px;
    height: 15px;
    background-color: #126E82;
    border-radius: 0 20px 20px 0;
}

.S70 {
    width: 455px;
    height: 15px;
    border-radius: 0 20px 20px 0;
    background-color: #126E82;
}

.S60 {
    width: 390px;
    height: 15px;
    background-color: #126E82;
    border-radius: 0 20px 20px 0;
}

.S45 {
    width: 292.5px;
    height: 15px;
    background-color: #126E82;
    border-radius: 0 20px 20px 0;
}

.hamburger {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.hamburger .cross {
    
    margin-left: 175px;
}

.sidebar-go {
    position: absolute;
    transform: translate(-250px, 0px);
}

.serviceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

/* .card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 50px;
    align-items: center;
    width: 300px;
    border-radius: 50px;
    height: 400px;
    background-color: #b7ecff;
    cursor: pointer;
} */

.srvPic {
    margin: 25px;
    /* border:1px solid #132C33 */
}

.img {
    width: 255px;
    border-radius: 30px 30px 0 0;
    border-top:2px solid #132C33;
    border-right:2px solid #132C33;
    border-left:2px solid #132C33;
    height: 230px;
    background-color: rgb(225, 225, 225);
}

.img h1 {
    display: flex;
    text-align: center;
    position: relative;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.cntnt {
    border-radius: 0 0 30px 30px;
    width: 255px;
    height: 120px;
    text-align: center;
    background-color:#126E82;
    border-bottom: 2px solid #132C33;
    border-right: 2px solid #132C33;
    border-left: 2px solid #132C33;
}

.cntnt h1 {
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.cntnt p {
    font-size: 10px;
    padding: 0 10px;
}

.service {
    margin-left: 190px;
    margin-top: 60px;
    font-size: 40px;
}